// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 10px;
    // color:  rgb(153, 153, 153);
}
h3 {
    color:  rgb(60, 60, 60);
}

h6 {
    color: rgb(153, 153, 153);
}
h6 > strong {
    color:  rgb(60, 60, 60);
}


a:hover {
    color: rgb(226, 130, 40);
    text-decoration: none;
}

a {
    color: rgb(153, 153, 153);
}

h6 > a{
    color: rgb(60, 60, 60);
    font-weight: bolder;
    font-size: 10px;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

